
/* SEARCH BLOCK */

.search_block_h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    margin: 4px 0;
}

.search_block_span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    margin: 4px 0;
}

.search_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    margin: 20px 0
}

.search_bar_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.location_pin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search_bar_form_input {
    border: 1px solid #F2F2F2;
    border-radius: 1px;
    height: 100%;
    padding: 0 15px;
    font-weight: 700;
    font-size: 18px;
}

.search_bar_form_submit {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 100%;
    padding: 0 10px;
    font-weight: 700;
    font-size: 18px;
    background-color: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    -webkit-transition: ease-in .08s;
    -o-transition: ease-in .08s;
    transition: ease-in .08s;
}

.search_bar_form_submit:hover {
    background-color: #FFFFFF;
    color: #0065FC;
}

.loupe {
    display: none;
}

.search_bar_span {
    display: block;
}

/* FILTERS BLOCK */

.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 100%;
    background-color: white;
}

.filters_buttons_icon {
    padding-right: 18px;
}

.filters_span {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    margin: 0 20px 0 0;
    margin: 40px 0;
}

.filters_buttons_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 100%;
    background-color: white;
}

.filters_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 100%;
    background-color: white;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
    margin: 0px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 48px;
    padding: 0 18px;
    -webkit-transition: ease .1s;
    -o-transition: ease .1s;
    transition: ease .1s;
}

.checkbox {
    display: none;
}

.filters_buttons:hover {
    background-color: #DEEBFF;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.checkbox:checked+label {
    background-color: #DEEBFF;
}

/* AVAILABLE HOSTINGS */
.available_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    background-color: white;
}

.information_logo {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.625em;
    margin-right: 12px;
}

.available_items_span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* HOSTINGS CARDS */

/* HOSTINGS MAIN */

.hostings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hostings_main {
    background-color: #F2F2F2;
    margin: 30px 40px 30px 0;
    padding: 15px;
    max-width: 900px;
    border-radius: 20px;
}

.global_h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    padding: 40px 0 20px 40px
}

.hostings_main_card_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.hostings_main_card {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    max-width: 30%;
    margin: 15px;
    max-height: 220px;
    -webkit-transition: ease .1s;
    -o-transition: ease .1s;
    transition: ease .1s;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 250px
}

.hostings_card_img {
    border-radius: 20px 20px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 125px;
    width: 250px;
    margin: 0 0 4px 0;
}

.main_h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    margin: 4px 16px;
}

.hostings_card_span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    margin: 4px 16px;
}

.hostings_card_rating {
    margin: 4px 16px;
}

.hostings_main_span {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    margin: 25px 0 25px 44px;
}

.hostings_card_span_strong {
    font-weight: bold;
}

.hostings_main_card:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

/* HOSTINGS POPULAR */

.hostings_popular {
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    background-color: #F2F2F2;
    border-radius: 20px;
}

.hostings_popular_cards {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 15px 45px 15px;
}

.hostings_popular_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.hostings_popular_h2 {
    padding: 40px 0px 20px 40px;
}

.hostings_popular_icon {
    font-size: 1.125em;
    padding: 40px 0 20px 0;
    margin: 0 40px 0 0;
}

.hostings_popular_card {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 0 0;
    -webkit-transition: ease .1s;
    -o-transition: ease .1s;
    transition: ease .1s;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 82%;
    min-width: 275px;
}

.hostings_popular_card:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.hostings_popular_card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hostings_popular_card_img {
    border-radius: 20px 0px 0px 20px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 144px;
    width: 137px;
    margin: 0 0 0 0;
}

.hosting_popular_card_container_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hostings_popular_card_rating {
    margin: 24px 16px 4px 16px;
}

.hostings_popular_card_container_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*ACTIVITIES*/

.activities_card_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.activites_card {
    width: 25%;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 40px 0 0;
    -webkit-transition: ease .1s;
    -o-transition: ease .1s;
    transition: ease .1s;
}

.activites_card:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.activites_card_last {
    margin: 0 0 0 0;
}

.activities_card_img {
    border-radius: 20px 20px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 390px;
}

.activities_h3 {
    margin: 20px 20px;
}

@media screen and (max-width: 992px) {
    .hostings {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }

    .hostings_main {
        margin: 0 0 30px 0;
        max-width: none;
        width: 100%;
    }

    .hostings_cards_rating {
        margin: 10px 16px 4px 16px;
    }

    .hostings_popular {
        margin: 0 0 30px 0;
        max-width: none;
        width: 100%;
    }

    .hostings_popular_cards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0 0 45px;
    }

    .hostings_popular_card_img {
        max-width: 100px;
    }

    .hostings_popular_card {
        margin: 0 10px;
    }

    .hostings_popular_card_container {
        max-width: 150px;
    }

    .hostings_popular_card_rating {
        margin: 10px 16px 4px 16px;
    }

    .available_items {
        margin: 36px 28px 36px 28px;
    }
}



@media screen and (max-width: 767px) {

    .search_block_h1,
    .search_block_span {
        margin: 0 28px 0 28px;
    }

    .search_block_h1 {
        padding: 0 0 12px 0;
    }

    .loupe {
        display: block;
    }

    .search_bar_span {
        display: none;
    }

    .search_bar {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .filters {
        margin: 0 20px 0 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start
    }

    .filters_span {
        margin: 15px 0 15px 8px;
    }

    .filters_buttons {
        margin: 8px;
        width: 45%;
        font-size: 11px;
        line-height: 13px;
    }

    .available_items {
        margin: 36px 28px 36px 28px;
    }

    .hostings {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        width: 100%;
    }

    .hostings_main {
        margin: 0;
    }

    .hostings_popular {
        max-width: 100%;
        border: none;
        border-radius: 0;
        padding: 0 28px;
        margin: 0;
    }

    .hostings_popular_cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }

    .hostings_popular_h2 {
        padding: 0 0;
    }

    .hostings_popular_icon {
        margin: 0 0px;
        padding: 25px 0;
    }

    .hostings_popular_card {
        min-width: 0px;
        width: 100%;
        margin: 0 0 24px 0;
    }

    .hostings_popular_card_container {
        max-width: none;
    }

    .hostings_popular_card_img {
        max-width: 137px;
    }

    .hostings_main {
        padding: 28px;
        background-color: white;
    }

    .hostings_main_h2 {
        padding: 0;
    }

    .hostings_main_card_list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }

    .hostings_main_card {
        width: 100%;
        margin: 12px 0;
        max-width: none;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        min-width: 0px
    }

    .hostings_main_span {
        display: none;
    }

    .hostings_card_img {
        width: 100%;
    }

    .activities {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 28px;
        max-width: 100%;
    }

    .activities_card_list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 100%;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .activites_card {
        width: 100%;
        margin: 24px 0;
    }

    .activities_card_img {
        width: 100%;
    }

    .activities_h2{
        padding:0;
    }

    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 68px 0 0 0;
        padding: 0 0 20px 0;
    }
}