/* SEARCH BLOCK */

.search_block_h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    margin: 4px 0;
}

.search_block_span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    margin: 4px 0;
}

.search_bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 50px;
    margin: 20px 0
}

.search_bar_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.location_pin {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search_bar_form_input {
    border: 1px solid #F2F2F2;
    border-radius: 1px;
    height: 100%;
    padding: 0 15px;
    font-weight: 700;
    font-size: 18px;
}

.search_bar_form_submit {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 100%;
    padding: 0 10px;
    font-weight: 700;
    font-size: 18px;
    background-color: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    transition: ease-in .08s;
}

.search_bar_form_submit:hover {
    background-color: #FFFFFF;
    color: #0065FC;
}

.loupe {
    display: none;
}

.search_bar_span {
    display: block;
}

/* FILTERS BLOCK */

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    height: 100%;
    background-color: white;
}

.filters_buttons_icon {
    padding-right: 18px;
}

.filters_span {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    margin: 0 20px 0 0;
    margin: 40px 0;

}

.filters_buttons_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    height: 100%;
    background-color: white;
}

.filters_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100%;
    background-color: white;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
    margin: 0px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    padding: 20px;
    transition: ease .1s;
}

.filters_buttons:hover {
    background-color: #DEEBFF;
    transform: scale(1.02);
}

/* AVAILABLE HOSTINGS */
.available_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: white;
}

.information_logo {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.625em;
    margin-right: 12px;
}

.available_items_span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* HOSTINGS CARDS */

/* HOSTINGS MAIN */

.hostings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hostings_main {
    background-color: #F2F2F2;
    margin: 30px 40px 30px 0;
    padding: 15px;
    max-width: 900px;
    border-radius: 20px;
}

.global_h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    padding: 40px 0 20px 40px
}

.hostings_main_card_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hostings_main_card {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    max-width: 30%;
    margin: 15px;
    max-height: 200px;
    transition: ease .1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 250px
}

.hostings_card_img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    max-height: 125px;
    width: 250px;
    margin: 0 0 4.5px 0;
}

.main_h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    margin: 4.5px 16px;
}

.hostings_card_span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    margin: 4.5px 16px;
}

.hostings_card_rating {
    margin: 4.5px 16px;
}

.hostings_main_span {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    margin: 25px 0 25px 44px;
}

.hostings_card_span_strong {
    font-weight: bold;
}

.hostings_main_card:hover {
    transform: scale(1.02);
}

/* HOSTINGS POPULAR */

.hostings_popular {
    background-color: #F2F2F2;
    margin: 30px auto;
    padding: 15px 15px 45px 15px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hostings_popular_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hostings_popular_h2 {
    padding: 40px 0px 20px 40px;
}

.hostings_popular_icon {
    font-size: 1.125em;
    padding: 40px 0 20px 0;
    margin: 0 40px 0 0;
}

.hostings_popular_card {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 0 0;
    transition: ease .1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    width: 82%;
}

.hostings_popular_card:hover {
    transform: scale(1.02);
}

.hostings_popular_card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hostings_popular_card_img {
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    height: 144px;
    width: 137px;
    margin: 0 0 0 0;
}

.hosting_popular_card_container_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hostings_popular_card_rating {
    margin: 24px 16px 4.5px 16px;
}

.hostings_popular_card_container_text {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

/*ACTIVITIES*/

.activities_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.activites_card {
    width: 25%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 40px 0 0;
    transition: ease .1s;
}

.activites_card:hover {
    transform: scale(1.02);
}

.activites_card_last {
    margin: 0 0 0 0;
}

.activities_card_img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 390px;
}

.activities_h3 {
    margin: 20px 20px;
}

@media screen and (max-width: 767px) {

    .search_block_h1,
    .search_block_span {
        margin: 0 28px 0 28px;
    }

    .search_block_h1 {
        padding: 0 0 12px 0;
    }

    .loupe {
        display: block;
    }

    .search_bar_span {
        display: none;
    }

    .search_bar {

        justify-content: center;
    }

    .filters {
        margin: 0 20px 0 20px;
        flex-direction: column;
        align-items: flex-start
    }

    .filters_span {
        margin: 15px 0 15px 8px;
    }

    .filters_buttons {
        margin: 8px;
        width: 47%;
    }

    .available_items {
        margin: 36px 28px 36px 28px;
    }

    .hostings {
        flex-direction: column-reverse;
        width: 100%;
    }

    .hostings_main {
        margin: 0;
    }

    .hostings_popular {
        /* margin: 0 28px; */
        padding: 0;
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 0 28px;
        margin: 0;
    }

    .hostings_popular_h2 {
        padding: 0 0;
        /* margin: 0 0 0 28px; */
    }

    .hostings_popular_icon {
        margin: 0 28px;
        padding: 25px 0;
    }

    .hostings_popular_card {

        /* width: 100%; */
        width: 100%;
        margin: 12px;
    }

    .hostings_main {
        padding: 28px;
        background-color: white;
    }

    .hostings_main_h2 {
        padding: 0;
    }

    .hostings_main_card_list {
        flex-direction: column;
        width: 100%;
    }

    .hostings_main_card {
        width: 100%;
        margin: 12px;
        max-width: none;
    }

    .hostings_card_img{
        width:100%;
    }
}