@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


html{
    position: relative;
    width: 1440px;
    height: 1884px;
    font-family: "Raleway", sans-serif;
    background: #FFFFFF;
}

body {
    font-family: "Raleway", sans-serif;
}

.header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.nav_menu{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 1px;
    /* text-decoration: none; */
    position: absolute;
    width: 381px;
    height: 119px;
    left: 982px;
    top: 0px;
    align-items:center;
    
}

.nav_hostings{
    /* position: absolute; */
    /* left: 36.22%; */
    /* right: 34.12%; */
    /* top: 0%; */
    /* bottom: 0%; */
    /* font-size: 16px; */
    /* line-height: 19px; */
    /* font-style: normal; */
    display: flex;
    height: 100%;
    text-decoration: none;
    font-weight: 500;
    color: #0065FC;
    border-top: 2px solid blue; 
    align-items: center;
    width: 162px;
    justify-content: center;
    /* padding: 0px 10px 0px 10px; */
}

.nav_activities{
/* position: absolute; */
left: 83.46%;
right: 0%;
top: 0%;
bottom: 0%;
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
}

li{
    list-style-type: none;
}